li{
    list-style: none;
}

.menu{
    width: 40%;
    margin-bottom: 50px;
}

.child{
    margin-left: 24px;
    padding:10px 0;
    border-bottom:dotted 1px black;
}


#title1,#title2{
    padding-bottom:15px;
    border-bottom:solid 1px black;
    cursor: pointer;
}

#title1::before{
    content:attr(data);
    margin-right: 5px;
}

#title2::before{
    content:attr(data);
    margin-right: 5px;
}

